<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>
 <h1> Edit Photo </h1>
 <%= render 'form' %>
 <%= link_to 'Back', photo_path %>
</div>
</body>
</html>