<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Photo</title>
</head>
<body>
  <h1> Add New Photo </h1>
  <%= render 'form' %>
  
  <%= link_to 'Back', photos_path %>
  
</body>
</html>




