<%= form_for :photo, url: photos_path do |p| %>
  <p> 
    <%= p.label :title %> <br>
    <%=p.text_field :title %>
  </p>

  <p>
    <% p.label :author %> <br>
    <% = p.text_field :author %>
  </p>

  <p>
    <% p.label :url %> <br>
    <% = p.text_field :url %>
  </p>

  <p>
    <% p.submit %>
  </p>
<% end %>




